/************************************************************************
** File:
**   ${dollar_id}: ${application_name}_version.h  $
**
** Purpose: 
**  The ${application_name} application header file containing version number
**
** Notes:
**
**
*************************************************************************/
\#ifndef _${application_name}_version_h_
\#define _${application_name}_version_h_

#for $subversion in $version_list
\#define $subversion
#end for      

\#endif /* _${application_name}_version_h_ */

/************************/
/*  End of File Comment */
/************************/
