/*******************************************************************************
** File:
**   ${application_name}_msg.h 
**
** Purpose: 
**  Define ${application_name} Messages and info
**
** Notes:
**
**
*******************************************************************************/
\#ifndef _${application_name}_msg_h_
\#define _${application_name}_msg_h_

/*
** ${application_name} command codes
*/
#for $key, $value in $command_codes_dict
\#define $key$value
#end for
#for $msg in $messages

/*************************************************************************/\
/*
** ${msg.comment}
*/
typedef struct
{
#for $field in $msg.fields_list
    $field[0];
#end for
} ${msg.name};

/*************************************************************************/
#end for
\#endif /* _${application_name}_msg_h_ */

/************************/
/*  End of File Comment */
/************************/
