/************************************************************************
** File:
**   ${dollar_id}: ${application_name}_perfids.h  $
**
** Purpose: 
**  Define ${application_name} Performance IDs
**
** Notes:
**
*************************************************************************/
#ifndef _${application_name}_perfids_h_
#define _${application_name}_perfids_h_

#for $perf_id in $perf_ids_list
\#define $perf_id
#end for

#endif /* _${application_name}_perfids_h_ */

/************************/
/*  End of File Comment */
/************************/