/*******************************************************************************
** File: ${application_name}.h
**
** Purpose:
**   This file is main hdr file for the ${application_name} application.
**
**
*******************************************************************************/

\#ifndef _${application_name}_h_
\#define _${application_name}_h_

/*
** Required header files.
*/
\#include "cfe.h"
\#include "cfe_error.h"
\#include "cfe_evs.h"
\#include "cfe_sb.h"
\#include "cfe_es.h"

\#include <string.h>
\#include <errno.h>
\#include <unistd.h>

/***********************************************************************/

\#define ${application_name_caps}_PIPE_DEPTH                     32

/************************************************************************
** Type Definitions
*************************************************************************/

/****************************************************************************/
/*
** Local function prototypes.
**
** Note: Except for the entry point (${application_name_caps}_AppMain), these
**       functions are not called from any other source module.
*/
void ${application_name_caps}_AppMain(void);
void ${application_name_caps}_AppInit(void);
void ${application_name_caps}_ProcessCommandPacket(void);
void ${application_name_caps}_ProcessGroundCommand(void);
void ${application_name_caps}_ReportHousekeeping(void);
void ${application_name_caps}_ResetCounters(void);

boolean ${application_name_caps}_VerifyCmdLength(CFE_SB_MsgPtr_t msg, uint16 ExpectedLength);

#endif /* _${application_name}_h_ */
