/************************************************************************
** File:
**    ${application_name}_events.h 
**
** Purpose: 
**  Define ${application_name} Events IDs
**
** Notes:
**
**
*************************************************************************/
\#ifndef _${application_name}_events_h_
\#define _${application_name}_events_h_

#for $key, $value in ${event_ids.items()}
\#define $key$value
#end for

\#endif /* _${application_name}_events_h_ */
/************************/
/*  End of File Comment */
/************************/
