/************************************************************************
** File:
**   ${dollar_id}: ${application_name}_msgids.h  $
**
** Purpose: 
**  Define ${application_name} Message IDs
**
** Notes:
**
*************************************************************************/
#ifndef _${application_name}_msgids_h_
#define _${application_name}_msgids_h_

#for $msg_id in $msg_ids_list
\#define $msg_id
#end for

#endif /* _${application_name}_msgids_h_ */

/************************/
/*  End of File Comment */
/************************/